.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.terms-conditions{
    display: flex;
    justify-content: center;
    align-items: center;
}